@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hover-effect {
  color: #ADB7BE; /* Color original */
  font-size: 1em; /* Tamaño de fuente original */
  transition: color 0.3s, font-size 0.3s; /* Transición suave */
}

.hover-effect:hover {
  color: #5AA6EC; /* Cambia el color al pasar el cursor */
  font-size: 1.2em; /* Aumenta el tamaño de la fuente al pasar el cursor */
}

